aside, article, section, header, footer, nav, html, body, p, h1, h2, h3, h4, div, ul {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #222;
    width: 100%;
    height: 100%;
    font-family: helvetica, sans-serif;
    color: #ccc;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-family: courier, monospace;
    font-size: 65px;
    font-weight: 400;
    float: left;
}

h4 { }

p {
    display: block;
    font-size: 16px;
}

a {
    color: #999;
    text-decoration: none;
    transition: .3s;
}

a:hover {
    color: #fff;
    transition: .3s;
}

input[type=text], input[type=password], input[type=number], select {
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

input[type=submit], button {
    background-color: #222;
    color: #fff;
    outline: none;
    border: 1px #fff solid;
    border-radius: 4px;
    font-size: 14px;
    padding: 15px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    transition: .3s;
}

input[type=submit]:hover, button:hover {
    background-color: #fff;
    color: #222;
    border: 1px #fff solid;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
    border: none;
    accent-color: #0e0;
    float: right;
}

#container {
    width: 800px;
    margin: 0 auto;
}

#logwin {
    display: none;
    position: absolute;
    background-color: #222;
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 20px;
    left: 100px;
    top: 100px;
}

#tstart:hover {
    background-color: #272;
    color: #fff;
}

#tend:hover, #closepmgmt:hover{
    background-color: #722;
    color: #fff;
}

#playermgmt {
    display: none;
}

#indplayer {
    display: none;
}

#apass {
    display: none;
}

#tnmt {
    width: 100%;
    min-height: 100px;
    border: 1px #fff solid;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

#games {
    height: 100%;
    float: left;
    width: 75%;
}

#topfive {
    background-color: #333;
    height: auto;
    float: left;
    width: 25%;
    padding-bottom: 10px;
}

#topfiveheader {
    width: 100%;
    background-color: #ccc;
    color: #222;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

#credit {
    font-size: 14px;
    text-align: right;
}

#bench {
    width: 80%;
    background-color: #444;
    border: 1px #fff solid;
    border-radius: 10px;
    margin: 10px;
}

#indplayername {
    font-size: 24px;
    margin-bottom: 20px;
}

.header {
    width: 310px;
    overflow: hidden;
    margin: 0 auto;
    height: 70px;
}

#tmgmt {
    display: none;
    min-width: 260px;
}

.popup {
    position: absolute;
    left: 150px;
    top: 150px;
    background-color: #222;
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 20px;
}

.pln {
    display: block;
    background-color: #444;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    overflow: auto;
}

.hicon {
    display: inline-block;
    height: 60px;
    width: 60px;
    background: url("/img/pawn_filled.png") no-repeat center;
	background-size: cover;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
    float: left;
}

.hicon:hover {
    opacity: 1;
}

#tend {
    display: none;
}

#login {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100vh;
    width: 100%;
    background-color: #222;
    z-index: 10;
}

#logincontainer {
    width: 80%;
    height: 100vh;
    padding: 0 100px;
}

#loginform {
    padding-top: 200px;
}

#admin {
    display: none;
}

#indplayername {
}

#showdeac {
    margin-top: 2px;
}

.log {
    background-color: #333;
    display: block;
    font-size: 12px;
    padding: 6px;
    color: #999;
    margin: 5px;
    border-radius: 4px;
}

.pname {
    padding: 5px;
    color: #ccc;
}

.clear {
    clear: both;
}

.cval {
    display: flex;
    height: 46px;
    width: 63% !important;
    float: left;
    align-items: center;
    justify-content: left;
    padding-left: 15px;
}

.hsz {
    width: 25% !important;
    min-width: 65px;
    float: left;
}

.msb {
    width: 256px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.topplayer {
    padding: 5px;
    color: #ccc;
    text-align: center;
}

.smallgap {
    padding-top: 30px;
}

.minigap {
    padding-top: 10px;
}

.game {
    display: table;
    width: 80%;
    border: 1px #fff solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
}

.bw { }

.wp {
    color: #222;
    background-color: #ccc;
    padding: 5px;
    transition: .3s;
}

.wp:hover {
    color: #000;
    background-color: #fff;
}

.bp {
    padding: 5px;
    transition: .3s;
}

.bp:hover {
    color: #fff;
    background-color: #000;
}

.draw {
    display: table-cell;
    width: 20%;
    height: 100%;
    background-color: #777;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    transition: .3s;
}

.draw:hover {
    color: #000;
    background-color: #999;
}

.benchp {
    width: fit-content;
    color: #bbb;
    padding: 5px;
    cursor: pointer;
}

.tlitm {
    border: 1px #fff solid;
    border-radius: 4px;
    margin: 10px;
}

.tid {
    position: relative;
    background-color: #ccc;
    color: #222;
    border: 1px #ccc solid;
    border-radius: 0 0 4px 0;
    padding: 5px;
    float: left;
}

.ttime {
    display: inline-block;
    padding: 10px;
    padding-top: 6px;
}

.ttp {
    display: block;
    border: 1px #ccc solid;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
}

.tblabel {
    padding-left: 5px;
    padding-top: 5px;
    font-size: 15px;
}

.pntxt {
    float: left;
    font-weight: 700;
    cursor: pointer;
}

.inddatalbl {
    width: 190px;
    float: left;
}

.inddataval {
    margin-left: 5px;
    float: left;
}

.hbar {
    height: 15px;
    float: left;
}

.bwin {
    background-color: #272;
}

.bdraw {
    background-color: #777;
}

.bloss {
    background-color: #722;
}

.indstathdr {
    padding-bottom: 3px;
    padding-top: 5px;
}

#gbox {
    background-color: #272;
}

#wbox {
    background-color: #777;
}

#rbox {
    background-color: #722;
}

.smallbox {
    width: 15px;
    height: 15px;
    margin: 5px 5px 5px 0;
    float: left;
}

.blabel {
    margin-top: 3px;
    margin-right: 10px;
    float: left;
}

.tpname {
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
}

.morebtn {
    float: right;
    width: fit-content;
    margin-right: 15px;
    font-size: 12px;
    color: #777;
    cursor: pointer;
}

.lessbtn {
    float: left;
    width: fit-content;
    margin-left: 15px;
    font-size: 12px;
    color: #777;
    cursor: pointer;
}

#addplayer {
    display: none;
}

.minipop {
    border-radius: 5px;
    padding: 5px;
    position: fixed;
    background-color: #ccc;
}

.minipopitem {
    border-radius: 3px;
    padding: 2px;
    color: #222;
    transition: .3s;
    cursor: pointer;
}

.minipopitem:hover {
    color: #eee;
    background-color: #222;
}
